state_machine/RekognitionDetectFaces.json
{
    "StartAt": "ParallelCheckInput",
    "States": {
        "ParallelCheckInput": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "CheckInputRekognition",
                    "States": {
                        "CheckInputRekognition": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.Rekognition",
                                    "IsPresent": true,
                                    "Next": "CheckInputDetectFaces"
                                }
                            ],
                            "Default": "DefaultInputRekognition"
                        },
                        "DefaultInputRekognition": {
                            "Type": "Pass",
                            "Parameters": {
                                "Rekognition": {}
                            },
                            "Next": "CheckInputDetectFaces"
                        },
                        "CheckInputDetectFaces": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.DetectFaces",
                                    "IsPresent": true,
                                    "Next": "ParallelCheckInputDetectFaces"
                                }
                            ],
                            "InputPath": "$.Rekognition",
                            "Default": "DefaultInputDetectFaces"
                        },
                        "DefaultInputDetectFaces": {
                            "Type": "Pass",
                            "Parameters": {
                                "DetectFaces": {}
                            },
                            "Next": "ParallelCheckInputDetectFaces"
                        },
                        "ParallelCheckInputDetectFaces": {
                            "Type": "Parallel",
                            "End": true,
                            "Branches": [
                                {
                                    "StartAt": "CheckInputAttributes",
                                    "States": {
                                        "CheckInputAttributes": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.Attributes",
                                                    "IsPresent": true,
                                                    "Next": "MapInputAttributes"
                                                }
                                            ],
                                            "Default": "DefaultInputAttributes"
                                        },
                                        "MapInputAttributes": {
                                            "Type": "Map",
                                            "ItemProcessor": {
                                                "ProcessorConfig": {
                                                    "Mode": "INLINE"
                                                },
                                                "StartAt": "CheckValueAttribute",
                                                "States": {
                                                    "CheckValueAttribute": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "And": [
                                                                    {
                                                                        "Variable": "$",
                                                                        "IsString": true
                                                                    },
                                                                    {
                                                                        "Or": [
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "AGE_RANGE"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "ALL"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "BEARD"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "DEFAULT"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "EMOTIONS"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "EYEGLASSES"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "EYES_OPEN"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "EYE_DIRECTION"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "FACE_OCCLUDED"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "GENDER"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "MOUTH_OPEN"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "MUSTACHE"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "SMILE"
                                                                            },
                                                                            {
                                                                                "Variable": "$",
                                                                                "StringEquals": "SUNGLASSES"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "Next": "PassValueAttribute"
                                                            }
                                                        ],
                                                        "Default": "FailCheckValueAttribute"
                                                    },
                                                    "PassValueAttribute": {
                                                        "Type": "Pass",
                                                        "End": true
                                                    },
                                                    "FailCheckValueAttribute": {
                                                        "Type": "Fail"
                                                    }
                                                }
                                            },
                                            "End": true,
                                            "ItemsPath": "$.Attributes"
                                        },
                                        "DefaultInputAttributes": {
                                            "Type": "Pass",
                                            "Parameters": {
                                                "Attributes": [
                                                    "ALL"
                                                ]
                                            },
                                            "Next": "MapInputAttributes"
                                        }
                                    }
                                }
                            ],
                            "ResultSelector": {
                                "DetectFaces": {
                                    "Attributes.$": "$[0]"
                                }
                            },
                            "InputPath": "$.DetectFaces"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputS3",
                    "States": {
                        "CheckInputS3": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.S3",
                                    "IsPresent": true,
                                    "Next": "ParallelCheckInputS3"
                                }
                            ],
                            "Default": "FailCheckS3Input"
                        },
                        "ParallelCheckInputS3": {
                            "Type": "Parallel",
                            "Branches": [
                                {
                                    "StartAt": "CheckInputBucket",
                                    "States": {
                                        "CheckInputBucket": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.Bucket",
                                                    "IsPresent": true,
                                                    "Next": "CheckInputBucketName"
                                                }
                                            ],
                                            "Default": "FailCheckInputBucket"
                                        },
                                        "CheckInputBucketName": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "And": [
                                                        {
                                                            "Variable": "$.Name",
                                                            "IsPresent": true
                                                        },
                                                        {
                                                            "Variable": "$.Name",
                                                            "IsString": true
                                                        }
                                                    ],
                                                    "Next": "HeadBucket"
                                                }
                                            ],
                                            "Default": "FailCheckInputBucketName",
                                            "InputPath": "$.Bucket"
                                        },
                                        "HeadBucket": {
                                            "Type": "Task",
                                            "Parameters": {
                                                "Bucket.$": "$.Name"
                                            },
                                            "Resource": "arn:aws:states:::aws-sdk:s3:headBucket",
                                            "Catch": [
                                                {
                                                    "ErrorEquals": [
                                                        "States.TaskFailed"
                                                    ],
                                                    "Next": "FailHeadBucket"
                                                }
                                            ],
                                            "ResultPath": "$.Output",
                                            "Next": "PassHeadBucket"
                                        },
                                        "PassHeadBucket": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                                "AccessPointAlias.$": "$.Output.AccessPointAlias",
                                                "Name.$": "$.Name",
                                                "Region.$": "$.Output.BucketRegion"
                                            }
                                        },
                                        "FailHeadBucket": {
                                            "Type": "Fail"
                                        },
                                        "FailCheckInputBucketName": {
                                            "Type": "Fail"
                                        },
                                        "FailCheckInputBucket": {
                                            "Type": "Fail"
                                        }
                                    }
                                },
                                {
                                    "StartAt": "CheckInputObject",
                                    "States": {
                                        "CheckInputObject": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.Object",
                                                    "IsPresent": true,
                                                    "Next": "CheckInputKey"
                                                }
                                            ],
                                            "Default": "FailCheckInputObject"
                                        },
                                        "CheckInputKey": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "And": [
                                                        {
                                                            "Variable": "$.Key",
                                                            "IsPresent": true
                                                        },
                                                        {
                                                            "Variable": "$.Key",
                                                            "IsString": true
                                                        }
                                                    ],
                                                    "Next": "PassInputKey"
                                                }
                                            ],
                                            "Default": "FailCheckInputKey",
                                            "InputPath": "$.Object"
                                        },
                                        "PassInputKey": {
                                            "Type": "Pass",
                                            "End": true
                                        },
                                        "FailCheckInputKey": {
                                            "Type": "Fail"
                                        },
                                        "FailCheckInputObject": {
                                            "Type": "Fail"
                                        }
                                    }
                                }
                            ],
                            "InputPath": "$.S3",
                            "ResultSelector": {
                                "Bucket.$": "$[0]",
                                "Object.$": "$[1]"
                            },
                            "Next": "HeadObject"
                        },
                        "HeadObject": {
                            "Type": "Task",
                            "Parameters": {
                                "Bucket.$": "$.Bucket.Name",
                                "Key.$": "$.Object.Key"
                            },
                            "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
                            "ResultPath": "$.Output",
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "Next": "FailHeadObject"
                                }
                            ],
                            "Next": "PassHeadObject"
                        },
                        "PassHeadObject": {
                            "Type": "Pass",
                            "Parameters": {
                                "Bucket.$": "$.Bucket",
                                "Object.$": "States.JsonMerge($.Object, $.Output, false)"
                            },
                            "Next": "GetObjectAttributes"
                        },
                        "GetObjectAttributes": {
                            "Type": "Task",
                            "Parameters": {
                                "Bucket.$": "$.Bucket.Name",
                                "Key.$": "$.Object.Key",
                                "ObjectAttributes": [
                                    "Checksum",
                                    "ETag",
                                    "ObjectParts",
                                    "ObjectSize",
                                    "StorageClass"
                                ]
                            },
                            "Resource": "arn:aws:states:::aws-sdk:s3:getObjectAttributes",
                            "ResultPath": "$.Output",
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "Next": "FailGetObjectAttributes"
                                }
                            ],
                            "Next": "PassGetObjectAttributes"
                        },
                        "PassGetObjectAttributes": {
                            "Type": "Pass",
                            "End": true,
                            "Parameters": {
                                "Bucket.$": "$.Bucket",
                                "Object.$": "States.JsonMerge($.Object, $.Output, false)"
                            }
                        },
                        "FailGetObjectAttributes": {
                            "Type": "Fail"
                        },
                        "FailHeadObject": {
                            "Type": "Fail"
                        },
                        "FailCheckS3Input": {
                            "Type": "Fail"
                        }
                    }
                }
            ],
            "Next": "DetectFaces",
            "ResultSelector": {
                "Rekognition.$": "$[0]",
                "S3.$": "$[1]"
            }
        },
        "DetectFaces": {
            "Type": "Task",
            "Parameters": {
                "Attributes.$": "$.Rekognition.DetectFaces.Attributes",
                "Image": {
                    "S3Object": {
                        "Bucket.$": "$.S3.Bucket.Name",
                        "Name.$": "$.S3.Object.Key"
                    }
                }
            },
            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectFaces",
            "Next": "ParallelCheckOutputDetectFaces",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "Next": "FailDetectFaces"
                }
            ],
            "ResultPath": "$.Output"
        },
        "ParallelCheckOutputDetectFaces": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "CheckOutputFaceDetails",
                    "States": {
                        "CheckOutputFaceDetails": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.FaceDetails",
                                    "IsPresent": true,
                                    "Next": "MapOutputFaceDetails"
                                }
                            ],
                            "Default": "DefaultOutputFaceDetails",
                            "InputPath": "$.Output"
                        },
                        "MapOutputFaceDetails": {
                            "Type": "Map",
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "INLINE"
                                },
                                "StartAt": "CheckOutputFaceDetail",
                                "States": {
                                    "CheckOutputFaceDetail": {
                                        "Type": "Parallel",
                                        "End": true,
                                        "Branches": [
                                            {
                                                "StartAt": "CheckOutputFaceDetailAgeRange",
                                                "States": {
                                                    "CheckOutputFaceDetailAgeRange": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.AgeRange",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailAgeRange"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailAgeRange"
                                                    },
                                                    "PassOutputFaceDetailAgeRange": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.AgeRange"
                                                    },
                                                    "DefaultOutputFaceDetailAgeRange": {
                                                        "Type": "Pass",
                                                        "Parameters": {
                                                            "AgeRange": null
                                                        },
                                                        "End": true,
                                                        "OutputPath": "$.AgeRange"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailBeard",
                                                "States": {
                                                    "CheckOutputFaceDetailBeard": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Beard",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailBeard"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailBeard"
                                                    },
                                                    "PassOutputFaceDetailBeard": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Beard"
                                                    },
                                                    "DefaultOutputFaceDetailBeard": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Beard": null
                                                        },
                                                        "OutputPath": "$.Beard"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailBoundingBox",
                                                "States": {
                                                    "CheckOutputFaceDetailBoundingBox": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.BoundingBox",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailBoundingBox"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailBoundingBox"
                                                    },
                                                    "PassOutputFaceDetailBoundingBox": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.BoundingBox"
                                                    },
                                                    "DefaultOutputFaceDetailBoundingBox": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "BoundingBox": null
                                                        },
                                                        "OutputPath": "$.BoundingBox"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "PassOutputFaceDetailConfidence",
                                                "States": {
                                                    "PassOutputFaceDetailConfidence": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Confidence"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailEmotions",
                                                "States": {
                                                    "CheckOutputFaceDetailEmotions": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Emotions",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailEmotions"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailEmotions"
                                                    },
                                                    "PassOutputFaceDetailEmotions": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Emotions"
                                                    },
                                                    "DefaultOutputFaceDetailEmotions": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Emotions": null
                                                        },
                                                        "OutputPath": "$.Emotions"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailEyeDirection",
                                                "States": {
                                                    "CheckOutputFaceDetailEyeDirection": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.EyeDirection",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailEyeDirection"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailEyeDirection"
                                                    },
                                                    "PassOutputFaceDetailEyeDirection": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.EyeDirection"
                                                    },
                                                    "DefaultOutputFaceDetailEyeDirection": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "EyeDirection": null
                                                        },
                                                        "OutputPath": "$.EyeDirection"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailEyeglasses",
                                                "States": {
                                                    "CheckOutputFaceDetailEyeglasses": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Eyeglasses",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailEyeglasses"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailEyeglasses"
                                                    },
                                                    "PassOutputFaceDetailEyeglasses": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Eyeglasses"
                                                    },
                                                    "DefaultOutputFaceDetailEyeglasses": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Eyeglasses": null
                                                        },
                                                        "OutputPath": "$.Eyeglasses"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailEyesOpen",
                                                "States": {
                                                    "CheckOutputFaceDetailEyesOpen": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.EyesOpen",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailEyesOpen"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailEyesOpen"
                                                    },
                                                    "PassOutputFaceDetailEyesOpen": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.EyesOpen"
                                                    },
                                                    "DefaultOutputFaceDetailEyesOpen": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "EyesOpen": null
                                                        },
                                                        "OutputPath": "$.EyesOpen"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailFaceOccluded",
                                                "States": {
                                                    "CheckOutputFaceDetailFaceOccluded": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.FaceOccluded",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailFaceOccluded"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailFaceOccluded"
                                                    },
                                                    "PassOutputFaceDetailFaceOccluded": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.FaceOccluded"
                                                    },
                                                    "DefaultOutputFaceDetailFaceOccluded": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "FaceOccluded": null
                                                        },
                                                        "OutputPath": "$.FaceOccluded"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailGender",
                                                "States": {
                                                    "CheckOutputFaceDetailGender": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Gender",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailGender"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailGender"
                                                    },
                                                    "PassOutputFaceDetailGender": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Gender"
                                                    },
                                                    "DefaultOutputFaceDetailGender": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Gender": null
                                                        },
                                                        "OutputPath": "$.Gender"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "PassOutputFaceDetailIdParameters",
                                                "States": {
                                                    "PassOutputFaceDetailIdParameters": {
                                                        "Type": "Pass",
                                                        "Parameters": {
                                                            "BoundingBox.$": "$.BoundingBox",
                                                            "Confidence.$": "$.Confidence",
                                                            "Pose.$": "$.Pose",
                                                            "Quality.$": "$.Quality",
                                                            "Landmarks.$": "$.Landmarks"
                                                        },
                                                        "Next": "DefaultOutputFaceDetailId"
                                                    },
                                                    "DefaultOutputFaceDetailId": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Id.$": "States.Hash($, 'MD5')"
                                                        },
                                                        "OutputPath": "$.Id"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailLandmarks",
                                                "States": {
                                                    "CheckOutputFaceDetailLandmarks": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Landmarks",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailLandmarks"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailLandmarks"
                                                    },
                                                    "PassOutputFaceDetailLandmarks": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Landmarks"
                                                    },
                                                    "DefaultOutputFaceDetailLandmarks": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Landmarks": null
                                                        },
                                                        "OutputPath": "$.Landmarks"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailMouthOpen",
                                                "States": {
                                                    "CheckOutputFaceDetailMouthOpen": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.MouthOpen",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailMouthOpen"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailMouthOpen"
                                                    },
                                                    "PassOutputFaceDetailMouthOpen": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.MouthOpen"
                                                    },
                                                    "DefaultOutputFaceDetailMouthOpen": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "MouthOpen": null
                                                        },
                                                        "OutputPath": "$.MouthOpen"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailMustache",
                                                "States": {
                                                    "CheckOutputFaceDetailMustache": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Mustache",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailMustache"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailMustache"
                                                    },
                                                    "PassOutputFaceDetailMustache": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Mustache"
                                                    },
                                                    "DefaultOutputFaceDetailMustache": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Mustache": null
                                                        },
                                                        "OutputPath": "$.Mustache"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailPose",
                                                "States": {
                                                    "CheckOutputFaceDetailPose": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Pose",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailPose"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailPose"
                                                    },
                                                    "PassOutputFaceDetailPose": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Pose"
                                                    },
                                                    "DefaultOutputFaceDetailPose": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Pose": null
                                                        },
                                                        "OutputPath": "$.Pose"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailQuality",
                                                "States": {
                                                    "CheckOutputFaceDetailQuality": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Quality",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailQuality"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailQuality"
                                                    },
                                                    "PassOutputFaceDetailQuality": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Quality"
                                                    },
                                                    "DefaultOutputFaceDetailQuality": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Quality": null
                                                        },
                                                        "OutputPath": "$.Quality"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailSmile",
                                                "States": {
                                                    "CheckOutputFaceDetailSmile": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Smile",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailSmile"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailSmile"
                                                    },
                                                    "PassOutputFaceDetailSmile": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Smile"
                                                    },
                                                    "DefaultOutputFaceDetailSmile": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Smile": null
                                                        },
                                                        "OutputPath": "$.Smile"
                                                    }
                                                }
                                            },
                                            {
                                                "StartAt": "CheckOutputFaceDetailSunglasses",
                                                "States": {
                                                    "CheckOutputFaceDetailSunglasses": {
                                                        "Type": "Choice",
                                                        "Choices": [
                                                            {
                                                                "Variable": "$.Sunglasses",
                                                                "IsPresent": true,
                                                                "Next": "PassOutputFaceDetailSunglasses"
                                                            }
                                                        ],
                                                        "Default": "DefaultOutputFaceDetailSunglasses"
                                                    },
                                                    "PassOutputFaceDetailSunglasses": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "InputPath": "$.Sunglasses"
                                                    },
                                                    "DefaultOutputFaceDetailSunglasses": {
                                                        "Type": "Pass",
                                                        "End": true,
                                                        "Parameters": {
                                                            "Sunglasses": null
                                                        },
                                                        "OutputPath": "$.Sunglasses"
                                                    }
                                                }
                                            }
                                        ],
                                        "ResultSelector": {
                                            "AgeRange.$": "$[0]",
                                            "Beard.$": "$[1]",
                                            "BoundingBox.$": "$[2]",
                                            "Confidence.$": "$[3]",
                                            "Emotions.$": "$[4]",
                                            "EyeDirection.$": "$[5]",
                                            "Eyeglasses.$": "$[6]",
                                            "EyesOpen.$": "$[7]",
                                            "FaceOccluded.$": "$[8]",
                                            "Gender.$": "$[9]",
                                            "Id.$": "$[10]",
                                            "Landmarks.$": "$[11]",
                                            "MouthOpen.$": "$[12]",
                                            "Mustache.$": "$[13]",
                                            "Pose.$": "$[14]",
                                            "Quality.$": "$[15]",
                                            "Smile.$": "$[16]",
                                            "Sunglasses.$": "$[17]"
                                        }
                                    }
                                }
                            },
                            "End": true,
                            "ItemsPath": "$.FaceDetails"
                        },
                        "DefaultOutputFaceDetails": {
                            "Type": "Pass",
                            "Parameters": {
                                "FaceDetails": []
                            },
                            "Next": "MapOutputFaceDetails"
                        }
                    }
                },
                {
                    "StartAt": "CheckOutputOrientationCorrection",
                    "States": {
                        "CheckOutputOrientationCorrection": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.OrientationCorrection",
                                    "IsPresent": true,
                                    "Next": "PassOrientationCorrection"
                                }
                            ],
                            "Default": "DefaultOutputOrientationCorrection",
                            "InputPath": "$.Output"
                        },
                        "PassOrientationCorrection": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.OrientationCorrection"
                        },
                        "DefaultOutputOrientationCorrection": {
                            "Type": "Pass",
                            "Parameters": {
                                "OrientationCorrection": null
                            },
                            "Next": "PassOrientationCorrection"
                        }
                    }
                }
            ],
            "ResultSelector": {
                "FaceDetails.$": "$[0]",
                "OrientationCorrection.$": "$[1]"
            },
            "ResultPath": "$.Output",
            "Next": "StateMachineOutput"
        },
        "StateMachineOutput": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
                "DetectFaces": {
                    "CreatedAt.$": "$$.Execution.StartTime",
                    "FaceDetails.$": "$.Output.FaceDetails",
                    "Id.$": "$.S3.Object.ETag",
                    "OrientationCorrection.$": "$.Output.OrientationCorrection"
                },
                "Execution": {
                    "Id.$": "$$.Execution.Id",
                    "Name.$": "$$.Execution.Name",
                    "StartTime.$": "$$.Execution.StartTime"
                },
                "S3.$": "$.S3",
                "StateMachine.$": "$$.StateMachine"
            }
        },
        "FailDetectFaces": {
            "Type": "Fail"
        }
    }
}
