state_machine/S3ObjectRekognition.json
{
    "StartAt": "MapEvent",
    "States": {
      "MapEvent": {
        "Type": "Map",
        "ItemProcessor": {
          "ProcessorConfig": {
            "Mode": "INLINE"
          },
          "StartAt": "CheckEventSource",
          "States": {
            "CheckEventSource": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.eventSource",
                  "IsPresent": true,
                  "Next": "ChoiceEventSource"
                }
              ],
              "Default": "FailCheckEventSource"
            },
            "ChoiceEventSource": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.eventSource",
                  "StringEquals": "aws:sqs",
                  "Next": "EventSourceAWSSQS"
                }
              ],
              "Default": "FailChoiceEventSource"
            },
            "EventSourceAWSSQS": {
              "Type": "Pass",
              "Parameters": {
                "attributes.$": "$.attributes",
                "awsRegion.$": "$.awsRegion",
                "body.$": "States.StringToJson($.body)",
                "eventSource.$": "$.eventSource",
                "eventSourceARN.$": "$.eventSourceARN",
                "md5OfBody.$": "$.md5OfBody",
                "messageAttributes.$": "$.messageAttributes",
                "messageId.$": "$.messageId",
                "receiptHandle.$": "$.receiptHandle"
              },
              "Next": "CheckSQSEventBodyRecords"
            },
            "CheckSQSEventBodyRecords": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.body.Records",
                      "IsPresent": true
                    }
                  ],
                  "Next": "MapSQSEventBodyRecords"
                }
              ],
              "Default": "FailCheckSQSEventBodyRecords"
            },
            "MapSQSEventBodyRecords": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "CheckSQSRecordEventSource",
                "States": {
                  "CheckSQSRecordEventSource": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "And": [
                          {
                            "Variable": "$.eventSource",
                            "IsPresent": true
                          },
                          {
                            "Variable": "$.eventSource",
                            "IsString": true
                          }
                        ],
                        "Next": "CheckSQSRecordEventName"
                      }
                    ],
                    "Default": "FailCheckSQSRecordEventSource"
                  },
                  "CheckSQSRecordEventName": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "And": [
                          {
                            "Variable": "$.eventName",
                            "IsPresent": true
                          },
                          {
                            "And": [
                              {
                                "Or": [
                                  {
                                    "Variable": "$.eventName",
                                    "StringEquals": "ObjectCreated:CompleteMultipartUpload"
                                  },
                                  {
                                    "Variable": "$.eventName",
                                    "StringEquals": "ObjectCreated:Copy"
                                  },
                                  {
                                    "Variable": "$.eventName",
                                    "StringEquals": "ObjectCreated:Post"
                                  },
                                  {
                                    "Variable": "$.eventName",
                                    "StringEquals": "ObjectCreated:Put"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "Next": "ChoiceSQSRecordEventName"
                      }
                    ],
                    "Default": "FailCheckSQSRecordEventName"
                  },
                  "ChoiceSQSRecordEventName": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Or": [
                          {
                            "Variable": "$.eventName",
                            "StringEquals": "ObjectCreated:CompleteMultipartUpload"
                          },
                          {
                            "Variable": "$.eventName",
                            "StringEquals": "ObjectCreated:Copy"
                          },
                          {
                            "Variable": "$.eventName",
                            "StringEquals": "ObjectCreated:Post"
                          },
                          {
                            "Variable": "$.eventName",
                            "StringEquals": "ObjectCreated:Put"
                          }
                        ],
                        "Next": "CheckS3Object"
                      },
                      {
                        "Variable": "$.eventName",
                        "StringEquals": "aws:sqs",
                        "Next": "PassSNSEvent"
                      }
                    ],
                    "Default": "FailChoiceSQSRecordEventName"
                  },
                  "FailChoiceSQSRecordEventName": {
                    "Type": "Fail"
                  },
                  "FailCheckSQSRecordEventName": {
                    "Type": "Fail"
                  },
                  "CheckS3Object": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.s3",
                        "IsPresent": true,
                        "Next": "CheckS3BucketAndObject"
                      }
                    ],
                    "Default": "FailCheckS3Object",
                    "OutputPath": "$.s3"
                  },
                  "CheckS3BucketAndObject": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "And": [
                          {
                            "Variable": "$.bucket",
                            "IsPresent": true
                          },
                          {
                            "And": [
                              {
                                "Variable": "$.bucket.name",
                                "IsPresent": true
                              },
                              {
                                "Variable": "$.bucket.name",
                                "IsString": true
                              }
                            ]
                          },
                          {
                            "Variable": "$.object",
                            "IsPresent": true
                          },
                          {
                            "And": [
                              {
                                "Variable": "$.object.key",
                                "IsPresent": true
                              },
                              {
                                "Variable": "$.object.key",
                                "IsString": true
                              }
                            ]
                          }
                        ],
                        "Next": "RekognitionS3ObjectCreated"
                      }
                    ],
                    "Default": "FailCheckS3BucketAndObject"
                  },
                  "FailCheckS3BucketAndObject": {
                    "Type": "Fail"
                  },
                  "RekognitionS3ObjectCreated": {
                    "Type": "Pass",
                    "End": true,
                    "Parameters": {
                      "detectFaces": {
                        "Attributes": [
                          "ALL"
                        ],
                        "Image": {
                          "S3Object": {
                            "Bucket.$": "$.bucket.name",
                            "Name.$": "$.object.key"
                          }
                        }
                      }
                    }
                  },
                  "FailCheckS3Object": {
                    "Type": "Fail"
                  },
                  "FailCheckSQSRecordEventSource": {
                    "Type": "Fail"
                  },
                  "PassSNSEvent": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              },
              "ItemsPath": "$.body.Records",
              "Next": "ParallelRekognition"
            },
            "ParallelRekognition": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "ChoiceDetectFaces",
                  "States": {
                    "ChoiceDetectFaces": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.detectFaces",
                          "IsPresent": true,
                          "Next": "DetectFaces"
                        }
                      ],
                      "Default": "SkipDetectFaces",
                      "OutputPath": "$.detectFaces"
                    },
                    "DetectFaces": {
                      "Type": "Task",
                      "Parameters": {
                        "Attributes.$": "$.Attributes",
                        "Image.$": "$.Image"
                      },
                      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectFaces",
                      "Next": "CheckDetectFaces",
                      "Catch": [
                        {
                          "ErrorEquals": [
                            "States.ALL"
                          ],
                          "Next": "FailDetectFaces"
                        }
                      ]
                    },
                    "FailDetectFaces": {
                      "Type": "Fail"
                    },
                    "CheckDetectFaces": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "And": [
                            {
                              "Variable": "$.FaceDetails",
                              "IsPresent": true
                            },
                            {
                              "Not": {
                                "Variable": "$.FaceDetails",
                                "IsNull": true
                              }
                            }
                          ],
                          "Next": "ParallelFaces"
                        }
                      ],
                      "Default": "NotifyDetectFacesIssue"
                    },
                    "ParallelFaces": {
                      "Type": "Parallel",
                      "Branches": [
                        {
                          "StartAt": "ChoiceFacesFaceDetails",
                          "States": {
                            "ChoiceFacesFaceDetails": {
                              "Type": "Choice",
                              "Choices": [
                                {
                                  "Variable": "$.FaceDetails",
                                  "IsPresent": true,
                                  "Next": "MapFacesFaceDetails"
                                }
                              ],
                              "Default": "DefaultFacesFaceDetails"
                            },
                            "MapFacesFaceDetails": {
                              "Type": "Map",
                              "ItemProcessor": {
                                "ProcessorConfig": {
                                  "Mode": "INLINE"
                                },
                                "StartAt": "ParallelFacesFaceDetails",
                                "States": {
                                  "ParallelFacesFaceDetails": {
                                    "Type": "Parallel",
                                    "End": true,
                                    "Branches": [
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsAgeRange",
                                        "States": {
                                          "ChoiceFacesFaceDetailsAgeRange": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.AgeRange",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsAgeRange"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsAgeRange"
                                          },
                                          "PassFacesFaceDetailsAgeRange": {
                                            "Type": "Pass",
                                            "InputPath": "$.AgeRange",
                                            "End": true,
                                            "Parameters": {
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "High.$": "$.High",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Low.$": "$.Low"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsAgeRange": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "AgeRange": null
                                            },
                                            "OutputPath": "$.AgeRange"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsBeard",
                                        "States": {
                                          "ChoiceFacesFaceDetailsBeard": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Beard",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsBeard"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsBeard"
                                          },
                                          "PassFacesFaceDetailsBeard": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Beard",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsBeard": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Beard": null
                                            },
                                            "OutputPath": "$.Beard"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsBoundingBox",
                                        "States": {
                                          "ChoiceFacesFaceDetailsBoundingBox": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.BoundingBox",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsBoundingBox"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsBoundingBox"
                                          },
                                          "PassFacesFaceDetailsBoundingBox": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.BoundingBox",
                                            "Parameters": {
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Height.$": "$.Height",
                                              "Left.$": "$.Left",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Top.$": "$.Top",
                                              "Width.$": "$.Width"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsBoundingBox": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "BoundingBox": null
                                            },
                                            "OutputPath": "$.BoundingBox"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsConfidence",
                                        "States": {
                                          "ChoiceFacesFaceDetailsConfidence": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Confidence",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsConfidence"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsConfidence"
                                          },
                                          "PassFacesFaceDetailsConfidence": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Confidence"
                                          },
                                          "DefaultFacesFaceDetailsConfidence": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Confidence": null
                                            },
                                            "OutputPath": "$.Confidence"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsEmotions",
                                        "States": {
                                          "ChoiceFacesFaceDetailsEmotions": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Emotions",
                                                "IsPresent": true,
                                                "Next": "MapFacesFaceDetailsEmotions"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsEmotions"
                                          },
                                          "MapFacesFaceDetailsEmotions": {
                                            "Type": "Map",
                                            "ItemProcessor": {
                                              "ProcessorConfig": {
                                                "Mode": "INLINE"
                                              },
                                              "StartAt": "PassFacesFaceDetailsEmotions",
                                              "States": {
                                                "PassFacesFaceDetailsEmotions": {
                                                  "Type": "Pass",
                                                  "End": true,
                                                  "Parameters": {
                                                    "Confidence.$": "$.Confidence",
                                                    "CreatedAt.$": "$$.State.EnteredTime",
                                                    "Md5.$": "States.Hash($, 'MD5')",
                                                    "Type.$": "$.Type"
                                                  }
                                                }
                                              }
                                            },
                                            "End": true,
                                            "ItemsPath": "$.Emotions"
                                          },
                                          "DefaultFacesFaceDetailsEmotions": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Emotions": null
                                            },
                                            "OutputPath": "$.Emotions"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsEyeDirection",
                                        "States": {
                                          "ChoiceFacesFaceDetailsEyeDirection": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.EyeDirection",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsEyeDirection"
                                              }
                                            ],
                                            "Default": "DetectFacesFaceDetailsEyeDirection"
                                          },
                                          "PassFacesFaceDetailsEyeDirection": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.EyeDirection",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Pitch.$": "$.Pitch",
                                              "Yaw.$": "$.Yaw"
                                            }
                                          },
                                          "DetectFacesFaceDetailsEyeDirection": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "EyeDirection": null
                                            },
                                            "OutputPath": "$.EyeDirection"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsEyeglasses",
                                        "States": {
                                          "ChoiceFacesFaceDetailsEyeglasses": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Eyeglasses",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsEyeglasses"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsEyeglasses"
                                          },
                                          "PassFacesFaceDetailsEyeglasses": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Eyeglasses",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsEyeglasses": {
                                            "Type": "Pass",
                                            "End": true,
                                            "OutputPath": "$.Eyeglasses",
                                            "Parameters": {
                                              "Eyeglasses": null
                                            }
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsEyesOpen",
                                        "States": {
                                          "ChoiceFacesFaceDetailsEyesOpen": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.EyesOpen",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsEyesOpen"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsEyesOpen"
                                          },
                                          "PassFacesFaceDetailsEyesOpen": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            },
                                            "InputPath": "$.EyesOpen"
                                          },
                                          "DefaultFacesFaceDetailsEyesOpen": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "EyesOpen": null
                                            },
                                            "OutputPath": "$.EyesOpen"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsFaceOccluded",
                                        "States": {
                                          "ChoiceFacesFaceDetailsFaceOccluded": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.FaceOccluded",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsFaceOccluded"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsFaceOccluded"
                                          },
                                          "PassFacesFaceDetailsFaceOccluded": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.FaceOccluded",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsFaceOccluded": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "FaceOccluded": null
                                            },
                                            "OutputPath": "$.FaceOccluded"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsGender",
                                        "States": {
                                          "ChoiceFacesFaceDetailsGender": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Gender",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsGender"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsGender"
                                          },
                                          "PassFacesFaceDetailsGender": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Gender",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsGender": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Gender": null
                                            },
                                            "OutputPath": "$.Gender"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsLandmarks",
                                        "States": {
                                          "ChoiceFacesFaceDetailsLandmarks": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Landmarks",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsLandmarks"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsLandmarks"
                                          },
                                          "PassFacesFaceDetailsLandmarks": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Landmarks",
                                            "Parameters": {
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Type.$": "$.Type",
                                              "X.$": "$.X",
                                              "Y.$": "$.Y"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsLandmarks": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Landmarks": null
                                            },
                                            "OutputPath": "$.Landmarks"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsMouthOpen",
                                        "States": {
                                          "ChoiceFacesFaceDetailsMouthOpen": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.MouthOpen",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsMouthOpen"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsMouthOpen"
                                          },
                                          "PassFacesFaceDetailsMouthOpen": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.MouthOpen",
                                            "Parameters": {
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Confidence.$": "$.Confidence",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsMouthOpen": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "MouthOpen": null
                                            },
                                            "OutputPath": "$.MouthOpen"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsMustache",
                                        "States": {
                                          "ChoiceFacesFaceDetailsMustache": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Mustache",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsMustache"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsMustache"
                                          },
                                          "PassFacesFaceDetailsMustache": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Mustache",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsMustache": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Mustache": null
                                            },
                                            "OutputPath": "$.Mustache"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsPose",
                                        "States": {
                                          "ChoiceFacesFaceDetailsPose": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Pose",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsPose"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsPose"
                                          },
                                          "PassFacesFaceDetailsPose": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Pose",
                                            "Parameters": {
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Pitch.$": "$.Pitch",
                                              "Roll.$": "$.Roll",
                                              "Yaw.$": "$.Yaw"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsPose": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Pose": null
                                            },
                                            "OutputPath": "$.Pose"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsQuality",
                                        "States": {
                                          "ChoiceFacesFaceDetailsQuality": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Quality",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsQuality"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsQuality"
                                          },
                                          "PassFacesFaceDetailsQuality": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Quality",
                                            "Parameters": {
                                              "Brightness.$": "$.Brightness",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Sharpness.$": "$.Sharpness"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsQuality": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Quality": null
                                            },
                                            "OutputPath": "$.Quality"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsSmile",
                                        "States": {
                                          "ChoiceFacesFaceDetailsSmile": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Smile",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsSmile"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsSmile"
                                          },
                                          "PassFacesFaceDetailsSmile": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Smile",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsSmile": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Smile": null
                                            },
                                            "OutputPath": "$.Smile"
                                          }
                                        }
                                      },
                                      {
                                        "StartAt": "ChoiceFacesFaceDetailsSunglasses",
                                        "States": {
                                          "ChoiceFacesFaceDetailsSunglasses": {
                                            "Type": "Choice",
                                            "Choices": [
                                              {
                                                "Variable": "$.Sunglasses",
                                                "IsPresent": true,
                                                "Next": "PassFacesFaceDetailsSunglasses"
                                              }
                                            ],
                                            "Default": "DefaultFacesFaceDetailsSunglasses"
                                          },
                                          "PassFacesFaceDetailsSunglasses": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.Sunglasses",
                                            "Parameters": {
                                              "Confidence.$": "$.Confidence",
                                              "CreatedAt.$": "$$.State.EnteredTime",
                                              "Md5.$": "States.Hash($, 'MD5')",
                                              "Value.$": "$.Value"
                                            }
                                          },
                                          "DefaultFacesFaceDetailsSunglasses": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                              "Sunglasses": null
                                            },
                                            "OutputPath": "$.Sunglasses"
                                          }
                                        }
                                      }
                                    ]
                                  }
                                }
                              },
                              "End": true,
                              "ItemsPath": "$.FaceDetails"
                            },
                            "DefaultFacesFaceDetails": {
                              "Type": "Pass",
                              "End": true,
                              "Parameters": {
                                "FaceDetails": null
                              },
                              "OutputPath": "$.FaceDetails"
                            }
                          }
                        },
                        {
                          "StartAt": "ChoiceFacesOrientationCorrection",
                          "States": {
                            "ChoiceFacesOrientationCorrection": {
                              "Type": "Choice",
                              "Choices": [
                                {
                                  "Variable": "$.OrientationCorrection",
                                  "IsPresent": true,
                                  "Next": "PassFacesOrientationCorrection"
                                }
                              ],
                              "Default": "DefaultFacesOrientationCorrection"
                            },
                            "PassFacesOrientationCorrection": {
                              "Type": "Pass",
                              "End": true,
                              "InputPath": "$.OrientationCorrection"
                            },
                            "DefaultFacesOrientationCorrection": {
                              "Type": "Pass",
                              "End": true,
                              "Parameters": {
                                "OrientationCorrection": null
                              },
                              "OutputPath": "$.OrientationCorrection"
                            }
                          }
                        }
                      ],
                      "End": true
                    },
                    "NotifyDetectFacesIssue": {
                      "Type": "Pass",
                      "End": true
                    },
                    "SkipDetectFaces": {
                      "Type": "Pass",
                      "Next": "CheckDetectFaces"
                    }
                  }
                }
              ],
              "End": true
            },
            "FailCheckSQSEventBodyRecords": {
              "Type": "Fail"
            },
            "FailChoiceEventSource": {
              "Type": "Fail"
            },
            "FailCheckEventSource": {
              "Type": "Fail"
            }
          }
        },
        "End": true
      }
    }
  }
